<amexio-nav [enable-side-nav-position]="false" 
  [title]="'Autumns Book Store'"	
  [logo]="'assets/images/logos/books-logo.png'">
    <amexio-nav-item position-right
      [type]="'link'" 
      [title]="'Home'" 
      routerLink="/home">
    </amexio-nav-item> 
    <amexio-nav-item position-right
      [type]="'link'" 
      [title]="'Books'" 
      routerLink="/books">
    </amexio-nav-item> 
    <amexio-nav-item position-right
      [type]="'link'" 
      [title]="'Authors'" 
      routerLink="/authors">
    </amexio-nav-item>               	
</amexio-nav>
